{% extends "blog/base.html" %}


{% block title %}
    <title>Post Details</title>
{% endblock title %}


{% block content %}

    <article class="post">

        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'blog:post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>

                <a class="btn btn-danger" href="{% url 'blog:post_remove' pk=post.pk %}">Remove<span class="glyphicon glyphicon-remove"></span></a>

            {% endif %}
        </aside>
        
        {% if post.published_date %}

            <div class="date">
                {{ post.published_date }}
            </div>

        {% else %}

            <a class="btn btn-warning" href="{% url 'blog:post_publish' pk=post.pk %}">Publish</a>


        {% endif %}

        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>

    <a class="btn btn-success" href="{% url 'blog:add_comment_to_post' pk=post.pk %}">Add comment</a>

    {% for comment in post.comments.all %}
        <hr>
        <div class="comments">
            <div class="date">
                {{ comment.created_date }}
                <strong>{{ comment.author }}</strong>
            </div>
        {% if user.is_authenticated %}

            {% if not comment.approved_comment %}
                
                <a class="btn btn-primary" href="{% url 'blog:comment_approve' pk=comment.pk %}">Comment Approve</a> 

            {% else %}

                <a class="btn btn-primary href="#">
                    Approve
                </a>
            {% endif %}

            <a class="btn btn-danger" href="{% url 'blog:comment_remove' pk=comment.pk %}">Comment Remove</a>
        {% endif %}

            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        </hr>

            <p>No comments here yet :(</p>

    {% endfor %}

{% endblock content %}



