{% extends "blog/base.html" %}


{% block title %}
    <title>Post List</title>
{% endblock title %}

    <body>
        <header class="page-header">
            <div class="container">
                <h1><a href="/">Majid</a></h1>
            </div>
        </header>

        <main class="container">
            <div class="row">
                <div class="col">
                    {% block content %}
                        {% for post in posts %}
                            <article class="post">
                                <time class="date">
                                    {{ post.published_date }}
                                </time>
                                 <h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                                <p>{{ post.text|linebreaksbr }}</p> 
                                <div class="comments">

                                    <a href="{% url 'blog:post_detail' pk=post.pk %}">Comments : {{ post.comments_count }}</a>
        
                                </div>

                                <div style="padding:20px;">

            
                                    {% if post.pk in liked_post_list %}
                                        <a href="{% url 'blog:unliked' pk=post.pk %}"><i class="fa fa-heart" style="font-size:36px"></i></a>
                                    {% else %}
                                        <a href="{% url 'blog:liked' pk=post.pk %}"><i class="fa fa-heart-o" style="font-size:36px"></i></a>
                                    {% endif %}

                                </div>


                            </article>
                        {% endfor %}
                        
                        
                    {% endblock %}
                </div>
            </div>
        </main>
        
    </body>






