{% extends "blog/base.html" %}


{% block title %}
    <title>Post Details</title>
{% endblock title %}


{% block content %}

    <article class="post">

        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'blog:post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>

                <a class="btn btn-danger" href="{% url 'blog:post_remove' pk=post.pk %}">Remove<span class="glyphicon glyphicon-remove"></span></a>

            {% endif %}
        </aside>
        
        {% if post.published_date %}

            <div class="date">
                {{ post.published_date }}
            </div>

        {% else %}

            <a class="btn btn-warning" href="{% url 'blog:post_publish' pk=post.pk %}">Publish</a>


        {% endif %}

        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>

{% endblock content %}



